<div id="combat-dock" class="hidden">
    <div class="buttons-container left" {{#unless isGM}}style="display: none;"{{/unless}}>
        <i class="fas fa-chevron-left" data-tooltip="Previous Phase" data-action="previous-phase"></i>
        <i class="fas fa-chevrons-left" data-tooltip="COMBAT.RoundPrev" data-action="previous-round"></i>
    </div>
    
    <!-- Phase Display -->
    <div class="phase-display">
        <h2 class="phase-title">{{phaseDisplayName}}</h2>
        <span class="round-display">Round {{currentRound}}</span>
    </div>
    
<div id="combatants" {{#if scroll}}style="pointer-events: all;"{{/if}}></div>
    <div class="buttons-container right" {{#unless isGM}}style="display: none;"{{/unless}}>
        <i class="fa-solid fa-globe" data-tooltip="tides-of-battle.add-event.title" data-action="add-event"></i>
        <i class="fas fa-play" data-tooltip="COMBAT.Begin" data-action="start-combat"></i>
        <i class="fas fa-ban" data-tooltip="COMBAT.End" data-action="end-combat"></i>
        <i class="fas fa-cog" data-tooltip="COMBAT.Settings" data-action="configure"></i>
        <i class="fas fa-chevron-right" data-tooltip="Next Phase" data-action="next-phase"></i>
        <i class="fas fa-chevrons-right" data-tooltip="COMBAT.RoundNext" data-action="next-round"></i>
    </div>
</div>
